Timur Shemsedinov <timur.shemsedinov@gmail.com>
Dmytro Nechai <nechaido@gmail.com>
Ivan Timoshenko <bugagashenkj@gmail.com> <kerckh@gmail.com>
Mykola Bilochub <nbelochub@gmail.com>
Vitaliy Semenchenko <semenchenkovitaliy@gmail.com>
Denys Otrishko <shishugi@gmail.com>
Julia Gerasymenko <gerasymenko.j.ke@gmail.com>
